html, body {
	@include full-screen;
	@include zero-box;
	@include background(url(../images/background.jpg) no-repeat center left);
	background-size: cover;
}

.display-none {
	display: none;
	@include transition(all $animation-duration $animation-timing);
}

.visible-none {
	opacity: 0;
	@include transition(all $animation-duration $animation-timing);
}