button {
	@include size(em(250px) em(50px));
	@include margin(em(32px) 0 0);

	color: $color-white;
	background-color: $color-malibu;

	font-family: $title-font;
	@include font-sw(em(18px), $default-font-weight);

	border: 0;
	border-radius: $border-radius;

	outline: none;
	text-transform: uppercase;

	@extend %transition;

	&:hover { background-color: lighten($color-malibu, 1%); }
}